{
    "env": {
      "node": true,
      "browser": true,
      "commonjs": true,
      "es2020": true
    },
    "parserOptions": {
      "sourceType": "module"
    },
    "rules": {
      "semi" : ["error", "always"]
    }
  }
